@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
:root {
  --dark-gray: #303030;
  --light-gray: #aaaaaa;
  --white: #eeeeee;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-size: 16px;
  font-family: Lato;
}

nav {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  mix-blend-mode: difference;
  background: black;
  z-index: 10;
}
nav ul {
  height: 100%;
  display: flex;
  padding-right: 3rem;
}

nav ul li {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
nav ul li:hover {
  border-bottom: 1px var(--white) solid;
}
nav a {
  color: white;
  mix-blend-mode: difference;
}

section {
  height: 100vh;
}
.right {
  width: 50%;
  height: 100%;
  float: right;
}
.left {
  width: 50%;
  height: 100%;
  float: left;
}
/* ============== Home Section ============== */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-gray);
}
.my-name {
  font-size: 3rem;
  color: var(--white);
}

/* ============== About Section ============== */
.about {
}

.my-photo {
  background-image: url('https://images.unsplash.com/photo-1520717214176-885c3b3b6ca5?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.about-content {
  height: 100%;
  color: white;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content p {
  margin: 3rem;
}

/* ============== UI Work Section ============== */

.ui-works {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-gray);
}
.ui-work-wrapper,
.dev-work-wrapper {
  display: flex;
}
.ui-work {
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-work-title {
  opacity: 0;
}
.ui-work:hover {
  filter: brightness(70%);
}
.ui-work:hover .ui-work-title {
  opacity: 1;
}
.ui-work1 {
  background-image: url('https://images.unsplash.com/photo-1548382340-e7280a94e3ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80');
}
.ui-work2 {
  background-image: url('https://images.unsplash.com/photo-1548413976-492b671eb54a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80');
}
.ui-work3 {
  background-image: url('https://images.unsplash.com/photo-1548357155-ad6bba8955ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80');
}

/* ============== DEV Work Section ============== */
.dev-works {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}
.dev-work-wrapper > div {
  position: relative;
}
.dev-work {
  display: inline-block;
  width: 320px;
  height: 230px;
  background-size: auto 100%;
  background-position: center;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-size 3s ease-in-out, filter 0.5s;
}
.dev-work1 {
  background-image: url('img/fish_game.png');
}

.dev-work2 {
  background-image: url('img/todo_list.png');
}

.dev-work-title {
  color: #ffffff;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dev-work:hover + .dev-work-title {
  opacity: 1;
}
.dev-work:hover {
  filter: brightness(70%);
  background-size: auto 120%;
  transition: background-size 3s ease-in-out, filter 0.5s;
}
/* ============== Contact Section ============== */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-gray);
  color: var(--white);
}
.contact a {
  color: var(--white);
}

.contact-info > *,
.social-media > * {
  opacity: 0.6;
}
.contact-info > *:hover,
.social-media > *:hover {
  opacity: 1;
}
.contact-info {
  margin: 1rem;
}
.resume {
  padding-top: 1rem;
}
.v-line {
  height: 3rem;
  width: 1px;
  border-right: 1px solid var(--white);
}
.social-media-link {
  display: flex;
  margin: 1rem;
}
.social-media-icon {
  height: 30px;
  width: 30px;
  margin-right: 1rem;
}
.facebook {
  background-image: url('svg/facebook.svg');
}
.twitter {
  background-image: url('svg/twitter.svg');
}
.github {
  background-image: url('svg/github.svg');
}
